/* Catppuccin Mocha theme for Regreet */
@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;
@define-color text   #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color blue     #89b4fa;
@define-color lavender #b4befe;

* {
    font-family: "JetBrainsMono Nerd Font";
    transition: 200ms;
}

window {
    background-color: @surface0;
    border-radius: 12px;
    border: 2px solid @blue;
}

label {
    color: @text;
    font-size: 16px;
    font-weight: bold;
}

/* "Welcome to NixOS" */
#prompt-label {
    font-size: 20px;
}

entry {
    background-color: @base;
    color: @text;
    border-radius: 6px;
    border: 1px solid @surface1;
    padding: 8px;
}

entry:focus {
    border: 1px solid @blue;
}

button {
    background-color: @blue;
    color: @base;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    padding: 8px;
}

button:hover {
    background-color: @lavender;
}

/* Style the "Session", "Power" buttons */
#session-button, #power-button {
    background-color: @surface1;
    color: @text;
}

#session-button:hover, #power-button:hover {
    background-color: @blue;
    color: @base;
}
